<div style="height: 100%;">

    <mat-card class="mat-elevation-z5 filtro-card" style="margin: 35px;">
        <mat-card-content class="form-container">
            <mat-card-title>
                Preencher Campos Obrigatórios:
            </mat-card-title>
            <mat-card-subtitle style="font-size: 1.2em;font-weight: 500; margin-bottom:2px;">
                Endereço de e-mail:
                <mat-chip style="background-color:#D4E6F1;">
                    {{classificar.usuario.email}}
                </mat-chip>
            </mat-card-subtitle>
            <mat-card-subtitle style="font-size: 1.2em;font-weight: 500;">
                Código do Produto:
                <mat-chip style="background-color:#D4E6F1;">
                    {{classificar.produto._id}}
                </mat-chip>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <iframe
        src=""
        id="frameForms"
        width="640"
        height="1058"
        frameborder="0" 
        marginheight="0"
        marginwidth="0"
        class="iframe-google"
        (load)="onSubmit($event)">
        Carregando…
    </iframe>
</div>

<!--div [innerHTML]="body">    
</div>

<!--form 
    action="https://docs.google.com/forms/u/1/d/e/1FAIpQLScJJvPc4xlmPA2pGd5VIusBzbRok79W1VV_CcDmO6ZQi5aLJw/formResponse?embedded=true"
    method="POST">

    <input type="text" aria-label="email" value="Novo" disabled>

    <button type="submit">Aqui</button>
</form-->

<div *ngIf="colunas.length > 0" class="open-button">
    <div class="comment-content">
        <div class="comment-title">
            Comentários do Formulário
        </div>
        <div (click)="openForm()">
            <i class="fas fa-plus-square fa-sm comment-icon"></i>
        </div>
    </div>
</div>

<mat-card *ngIf="colunas.length > 0" id="chatComment" class="mat-elevation-z5 chat-popup">

    <div class="open-button-chat">
        <div class="comment-content">
            <div class="comment-title">
                Comentários do Formulário
            </div>
            <div (click)="closeForm()">
                <i class="fas fa-minus-square fa-sm comment-icon"></i>
            </div>
        </div>
    </div>

    <mat-card-content class="form-container">

        <div>
            <!--mat-form-field style="width: 100%;">
                <mat-label>Campos do Formulário</mat-label>
                <mat-select [(ngModel)]="idColuna" (selectionChange)="printComentarios()">
                    <mat-option
                        *ngFor="let coluna of colunas"
                        [value]="coluna.idColuna"
                        class="option-campos">
                        {{coluna.nmColuna}}
                    </mat-option>
                </mat-select>
            </mat-form-field-->

            <div class="commen-inputs" style="min-height:180px;">
                <div class="content-campos">
                    <div
                        *ngFor="let coluna of colunas"
                        (click)="teste($event); printComentarios(coluna.idColuna);"
                        class="comment-card
                                comment-item-{{coluna.comentarios}}
                                {{coluna.selecionada == true ? 'comment-item-selected' : ''}}"
                        matBadge="{{coluna.pendentes}}" 
                        matBadgePosition="after"
                        matBadgeColor="accent"
                        matBadgeSize="medium"
                        [matBadgeHidden]="!coluna.comentarios && !coluna.selecionada">
                        {{coluna.nmColuna}}
                    </div>
                </div>
            </div>

            <div class="comment-fields">

                <div class="content-comment">
                    <div
                        *ngFor="let comentario of comentarios"
                        class="comment-card comment-item-{{comentario.side}}">
                        <div class="comment-head">
                            <span class="comment-user-{{comentario.side}}">
                                {{comentario.nmUsuario}}
                            </span>
                            <span class="comment-date-{{comentario.side}}">
                                <i class="fas fa-clock comment-icon-clock"></i>
                                {{comentario.dataCriacao.toLocaleDateString()}}
                                {{comentario.dataCriacao.toLocaleTimeString(
                                    [], {hour: '2-digit', minute:'2-digit'}
                                )}}
                            </span>
                        </div>
                        {{comentario.descricao}}
                    </div>
                    <div class="content-msg content-msg-{{coluna.comentarios == true ? 'none' : 'table'}}">
                        <div
                            *ngIf="comentarios.length == 0"
                            class="content-msg-item">
                            Não há comentários!
                        </div>
                    </div>
                </div>

                <div class="comment-input">
                    <input
                        [(ngModel)]="comentario.descricao"
                        placeholder="..." />

                    <button
                        mat-button
                        class="button-salvar"
                        (click)="salvarComentario()">
                        Ok
                    </button>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>