<div *ngIf="loading" fxAlign="center" class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Carregando dados da consulta...</p>
</div>

<div *ngIf="!loading" class="filter-container">
    <h3>Importar Arquivo</h3>

    <div class="mat-card-list">

        <mat-card *ngIf="importerSelected" class="mat-elevation-z5 filtro-card">
            <mat-card-content class="form-container">
                <mat-card-title style="color: #596679;">
                    Importar lista de Itens:
                </mat-card-title>

                <div style="float: right;margin: -50px;margin-right: 0px;color: #596679;">
                    <a href="assets/modelo_importacao.xlsx" style="color: #596679;">Dowload Modelo</a>
                    <i class="fas fa-download"></i>
                </div>

                <div class="importer-fields-file">
                    <button type="button" mat-raised-button (click)="imgFileInput.click()">
                        Selecionar Arquivo
                    </button>

                    <input hidden type="file" #imgFileInput (change)="fileChange($event)"/>
                    <img *ngIf="spinner" src="assets/spinner.gif" class="file-img">

                    <span *ngIf="!spinner && message" class="filter-file-span">
                        Lista de itens importados com sucesso!
                    </span>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
</div>