<div class="modal-header">
    <span class="modal-title">
        Categorias de Formulário
    </span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div *ngIf="loading" fxAlign="center" class="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Carregando os dados para filtro...</p>
    </div>

    <div *ngIf="!loading" class="filter-container">

        <mat-card class="mat-elevation-z5 filtro-card">
            <mat-card-content class="form-container">

                <div class="comment-input">
                    <textarea
                        matInput
                        placeholder="Descrição da Categoria"
                        [(ngModel)]="categoria.descricao"
                        class="produto-descricao"></textarea>

                    <button
                        mat-raised-button
                        class="filter-button"
                        (click)="salvarCategoria()">
                        Salvar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
</div>