
<div class="modal-header">
    <span class="modal-title">
        Categorias de Formulário
    </span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div *ngIf="loading" fxAlign="center" class="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Carregando os dados para filtro...</p>
    </div>

    <div *ngIf="!loading" class="filter-container">

        <div class="content-add-categoria table-list">
            <div class="btn-categoria">
                <a (click)="addCategoria()" class="btn-add-categoria">
                    <i class="fas fa-plus-square"></i>
                    Adicionar Categoria
                </a> /
                <a (click)="findCategoria()" class="btn-find-categoria">
                    <i class="fas fa-filter"></i>
                    Pesquisar Categoria
                </a>
            </div>
            <mat-form-field
                *ngIf="flAddCategoria"
                class="input-categoria">
                <input
                    matInput
                    placeholder="Descrição da Categoria"
                    [(ngModel)]="categoria.descricao"
                    (change)="addCategoriaList()"/>
            </mat-form-field>
            <mat-form-field
                *ngIf="flFindCategoria"
                class="input-categoria">
                <input
                    matInput
                    placeholder="Descrição da Categoria"
                    [(ngModel)]="categoria.descricao"
                    (ngModelChange)="findCategoriaList()"/>
            </mat-form-field>    
        </div>

        <h5>Listagem de Categorias:</h5>

        <app-categorias-list
            *ngIf="data.length > 0"
            [data]="data"
            [categoriasModelos]="categoriasModelos">
        </app-categorias-list>

        <div *ngIf="data.length == 0" class="table-not-records" style="padding-left: 0;">
            Nenhum registro encontrado!
        </div>
    </div>
</div>

<div class="modal-footer">
    <button
        mat-raised-button
        class="filter-button"
        (click)="selecionarCategoria()">
        Selecionar
    </button>
</div>