.comentarios-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.mat-card.filtro-card {
    margin-bottom: 5px;
}

.comentarios-fields {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

/* Listagem Campos */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tree-head {
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: 500;
}
.button-add {
    width: 100px;
    height: 40px;
}