//* {box-sizing: border-box;}

.iframe-google {
    margin: 10px;
    height: 100%;
    width: 100%;
}

.open-button {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    right: 28px;
    width: 280px;
    margin-right: 10px;

    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.open-button-chat {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;

    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.comment-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.comment-title {
    display: block;
    margin-bottom: 8px;
}

.comment-icon {
    cursor: pointer;
    font-size: 20px;
    float: right;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 9;
    cursor: pointer;
    right: 28px;
    width: 280px;
    margin-right: 10px;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

/* The popup chat - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 16px;
    background-color: white;
    position: relative;
}

.fields-textarea {
    display: grid;
    //grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .button-add:hover {
    opacity: 1;
}

.button-add {
    color: #596679;
    float: right;
}

.button-add:hover {
    color: warn;
    background: #F2F4F4;
}