<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScRaga2_Hptwn4Gh_4mqzn-axQoAX_Ai1b2VGuzZnSSKlQwuA/viewform?embedded=true" 
    id="frameForms"
    width="640"
    height="1058"
    frameborder="0" 
    marginheight="0"
    marginwidth="0"
    class="iframe-google">
    Carregando…
</iframe>

<div class="open-button">
    <div class="comment-content">
        <div class="comment-title">
            Inserir Comentário
        </div>
        <div (click)="openForm()">
            <i class="fas fa-plus-square fa-sm comment-icon"></i>
        </div>
    </div>
</div>

<mat-card id="chatComment" class="mat-elevation-z5 chat-popup">

    <div class="open-button-chat">
        <div class="comment-content">
            <div class="comment-title">
                Inserir Comentário
            </div>
            <div (click)="closeForm()">
                <i class="fas fa-minus-square fa-sm comment-icon"></i>
            </div>
        </div>
    </div>

    <mat-card-content class="form-container">

        <div *ngIf="!flComentar && !flVisualizar">

            <h5 style="font-size:16px;">
                Escolha uma das opções abaixo:
            </h5>
            
            <div class="navbar-itens">
                <button
                    mat-button
                    class="button-add"
                    (click)="inserirComentario()">
                    Inserir Comentário
                </button>

                <button
                    mat-button
                    class="button-add"
                    (click)="visualizarComentario()">
                    Visualizar Comentário
                </button>
            </div>
        </div>        

        <div *ngIf="flComentar">

            <mat-form-field style="width: 100%;">
                <mat-label>Campos do Formulário</mat-label>
                <mat-select [(ngModel)]="comentario.idColuna">
                    <mat-option
                        *ngFor="let coluna of colunas"
                        [value]="coluna.idColuna">
                        {{coluna.nmColuna}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="fields-textarea">
                <mat-form-field>
                    <textarea
                        matInput
                        [(ngModel)]="comentario.descricao"
                        placeholder="Comentário"
                        class="produto-descricao"></textarea> <!-- !Important -->
                </mat-form-field>

                <button
                    mat-button
                    matTooltip="Salvar comentário"
                    class="button-salvar"
                    (click)="salvarComentario()">
                    Salvar
                </button>
            </div>
        </div>

        <div *ngIf="flVisualizar">

            <mat-form-field style="width: 100%;">
                <mat-label>Campos do Formulário</mat-label>
                <mat-select [(ngModel)]="idColuna">
                    <mat-option
                        *ngFor="let coluna of colunas"
                        [value]="coluna.idColuna">
                        {{coluna.nmColuna}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="fields-textarea">
                <mat-form-field>
                    <textarea
                        matInput
                        placeholder="Comentário"
                        class="produto-descricao"></textarea> <!-- !Important -->
                </mat-form-field>

                <button
                    mat-button
                    matTooltip="Salvar comentário"
                    class="button-salvar"
                    (click)="closeForm()">
                    Salvar
                </button>
            </div>
        </div>

    </mat-card-content>
</mat-card>