//* {box-sizing: border-box;}

.iframe-google {
    margin: 10px;
    height: 100%;
    //width: 100%;
}

.open-button { 
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    right: 28px;
    width: 320px;
    margin-right: 10px;

    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.open-button-chat {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;

    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.comment-content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 10px;
}

.comment-title {
    display: block;
    margin-bottom: 8px;
}

.comment-icon {
    cursor: pointer;
    font-size: 20px;
    float: right;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 9;
    //cursor: pointer;
    right: 28px;
    width: 320px;
    margin-right: 10px;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

/* The popup chat - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    //max-width: 300px;
    min-height: 377px;
    padding: 16px;
    padding-bottom: 0px;
    background-color: white;
    position: relative;
}

.fields-textarea {
    width: 100%;
    display: grid;
    //grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .button-add:hover {
    opacity: 1;
}

.form-container .button-salvar:hover {
    opacity: 1;
}

.button-add {
    color: #596679;
    height: 150px;
    width: 100%;
    background: #EBEDEF;
    margin-bottom: 10px;
}

.button-add:hover {
    color: warn;
    background: #F2F4F4;
}

.button-salvar {
    color: #596679;
    background: #EBEDEF;
}

.button-salvar:hover {
    color: warn;
    background: #F2F4F4;
}

.button-comentario {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 5px;
}

.content-comment {
    background: #EAF2F8;
    padding: 10px;
    height: 258.44px; //268.44px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.comment-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background: #fff;

    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
                0 1px 1px 0 rgba(0,0,0,.14), 
                0 1px 3px 0 rgba(0,0,0,.12);
}

.comment-head {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.comment-item-left {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 13px;
    color: #4a5864;
    width: 90%;
}

.comment-item-right {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 13px;
    color: #4a5864;
    width: 90%;
    float: right;
}

.comment-user-left {
    font-weight:500;
}

.comment-user-right {
    font-weight:500;
    float: right;
} 

.comment-date-left {
    float: right;
    font-size: 11px;
}

.comment-date-right {
    float: left;
    font-size: 11px;
}

.comment-icon-clock {
    padding-right: 2px;
    margin-right: 0px;
}

.content-msg {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.content-msg-item {
    height: 100%;
    color: #4a5864;
    vertical-align: middle;
    display: table-cell;
}