<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScRaga2_Hptwn4Gh_4mqzn-axQoAX_Ai1b2VGuzZnSSKlQwuA/viewform?embedded=true" 
    id="frameForms"
    width="640"
    height="1058"
    frameborder="0" 
    marginheight="0"
    marginwidth="0"
    class="iframe-google">
    Carregando…
</iframe>

<div class="open-button">
    <div class="comment-content">
        <div class="comment-title">
            Inserir Comentário
        </div>
        <div>
            <fa-icon
                (click)="openForm()"
                icon="plus-square"
                size="fa-sm"
                class="comment-icon">
            </fa-icon>
        </div>
    </div>
</div>

<mat-card id="chatComment" class="mat-elevation-z5 chat-popup">

    <div class="open-button-chat">
        <div class="comment-content">
            <div class="comment-title">
                Inserir Comentário
            </div>
            <div>
                <fa-icon
                    (click)="closeForm()"
                    icon="minus-square"
                    size="fa-sm"
                    class="comment-icon">
                </fa-icon>
            </div>
        </div>
    </div>

    <mat-card-content class="form-container">

        <mat-card-title>
        </mat-card-title>

        <mat-form-field style="width: 100%;">
            <mat-label>Campo</mat-label>
            <mat-select>
                <mat-option>
                    Aqui
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="fields-textarea">
            <mat-form-field>
                <textarea
                    matInput
                    placeholder="Comentário"
                    class="produto-descricao">
                </textarea>
            </mat-form-field>
        </div>

        <button
            mat-button
            matTooltip="Inserir comentário"
            class="button-add"
            style="color: #596679; float: right;"
            (click)="closeForm()">
            Enviar
        </button>

    </mat-card-content>
</mat-card>