//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.produtos-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.mat-card.filtro-card {
    margin-bottom: 5px;
}

.produto-fields {
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.produto-fields-textarea {
    display: grid;
    //grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.produto-descricao {
    min-height: 60px;
}

.produto-atributo-fields {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.produto-codigos-fields {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.atributo-button-add {
    width: 100px;
    height: 40px;
}

.atributo-table {
    min-width: 70%;
}

.atributo-table tr {
    height: 35px;
}

.categorias-fields {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.add-categorias {
    width: 100px;
    height: 40px;
    color: #596679;
}

.codigointerno-table {
    min-width: 70%;
}

.codigointerno-table tr {
    height: 35px;
}

.atributos-panel-content {
    max-height: 300px;
    overflow-y: auto;
    padding: 0 20px 16px;
}

.codigos-panel-content {
    max-height: 300px;
    overflow-y: auto;
    padding: 0 20px 16px;
}

.categorias-content {
    //max-height: 300px;
    overflow-y: auto;
    color: #596679;
    //padding: 0 10px 16px;
}

.step-button-finish {
    background-color: #673AB7; //#BB8FCE;
    color: #fff;
}

.step-button-return {
    color:darkgrey;
}

.button-return {
    color:darkgrey;
}

.informativo {
    font-size: 12px;
    color: #596679;
}

.informativo span {
    font-weight: 500;
}

/* Categorias */
ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

ul li {
    //display: inline-block;
    color: #596679;
}


/* Caixa de Dialogo */

.iframe-google {
    margin: 10px;
    height: 100%;
    //width: 100%;
}

.open-button { 
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    right: 28px;
    width: 320px;
    margin-right: 10px;

    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.open-button-chat {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;

    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 9;
    //cursor: pointer;
    right: 28px;
    width: 320px;
    margin-right: 10px;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.comment-content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 10px;
}

.comment-title {
    display: block;
    margin-bottom: 8px;
}

.comment-icon {
    cursor: pointer;
    font-size: 20px;
    float: right;
}










/* The popup chat - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    //max-width: 300px;
    //min-height: 450px;
    padding: 12px;
    padding-bottom: 0px;
    background-color: white;
    position: relative;
}

.commen-inputs {
    width: 100%;
    display: grid;
    //grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.comment-fields {
    width: 100%;
    display: none;
    //display: grid;
    //grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.comment-input {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 5px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.form-container input {
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
    resize: none;
    border: 1px solid #D5D8DC;
}

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 50px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .button-salvar:hover {
    opacity: 1;
}

.button-salvar {
    color: #596679;
    background: #EBEDEF;
    border: 1px solid #D5D8DC;
}

.button-salvar:hover {
    color: warn;
    background: #F2F4F4;
}

.button-comentario {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 5px;
}

.content-comment {
    background: #f1f1f1;
    padding: 10px;
    height: 180px;
    margin-bottom: 5px;
    border: 1px solid #D5D8DC;
    //overflow: auto;
    overflow: scroll;
    overflow-x: auto;
}

.content-campos {
    background: #f1f1f1;
    padding: 10px;
    max-height:436px;
    //max-height: 200px;
    margin-bottom: 5px;
    overflow-y: auto;
    border: 1px solid #D5D8DC;
}

.comment-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background: #fff;

    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
                0 1px 1px 0 rgba(0,0,0,.14), 
                0 1px 3px 0 rgba(0,0,0,.12);
}

.comment-item-true{
    font-size: 0.8em;
    margin-bottom: 5px;
    padding: 8px;
    cursor: pointer;
}

.comment-item-false {
    color: #B2BABB;
    cursor: pointer;
    font-size: 0.8em;
    margin-bottom: 5px;
    padding: 8px;
}

.comment-item-selected {
    background: #EAECEE;
    color: #4a5864;
    cursor: pointer;
}

.comment-head {
    //margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.comment-item-left {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 13px;
    color: #4a5864;
    width: 90%;
    float: left;
}

.comment-item-right {
    margin-bottom: 10px;
    padding: 6px;
    font-size: 13px;
    color: #4a5864;
    background: #EAFAF1;
    width: 90%;
    float: right;
}

.comment-user-left {
    font-weight:500;
}

.comment-user-right {
    font-weight:500;
    float: right;
} 

.comment-date-left {
    float: right;
    font-size: 11px;
}

.comment-date-right {
    float: left;
    font-size: 11px;
}

.comment-icon-clock {
    padding-right: 2px;
    margin-right: 0px;
}

.content-msg {
    height: 100%;
    text-align: center;
    width: 100%;
    //display: table;
}

.content-msg-none {
    display: none;
}

.content-msg-table {
    display: table;
}

.content-msg-item {
    height: 100%;
    color: #4a5864;
    vertical-align: middle;
    display: table-cell;
}

.option-campos{
    font-size: 0.85em;
}