<div *ngIf="!flFormulario" class="produtos-container">
    <h3>Dados da Classificação</h3>

    <mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container">

            <div class="produto-fields-textarea">
                <textarea
                    matInput
                    placeholder="Título do Formulario"
                    [(ngModel)]="classificar.titulo"
                    class="produto-descricao" disabled></textarea>
            </div>

            <div class="categorias-content table-list">

                <ul>
                    <li *ngFor="let questoes of perguntasRespostas" style="padding-bottom: 15px;">
                        <div>
                            <i class="fas fa-dot-circle"></i>
                            {{questoes.nmColuna}}                            
                        </div>
                        <br/>
                        <span style="padding-left: 20px;">
                            {{questoes.deCampo}}
                        </span>
                    </li>
                </ul>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z5">
        
        <mat-card-actions align="end" style="padding:0;margin:0;">

            <img 
                *ngIf="spinner" 
                src="assets/spinner.gif" 
                style="height:30px;padding-right:10px;">

            <button
                mat-raised-button
                (click)="voltarEtapa()"
                class="button-return"
                style="margin: 0 8px;">
                <!--i class="fas fa-angle-double-left fa-sm"></i-->
                Voltar
            </button>

            <!--button
                mat-raised-button
                (click)="finalizarPreenchimento()"
                class="step-button-finish">
                <i class="fas fa-check fa-sm"></i>
                Finalizar
            </button-->
        </mat-card-actions>
    </mat-card>
</div>

<div *ngIf="flFormulario" class="produtos-container">
    <mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container" style="padding-bottom: inherit;">
            <h3>Formulário Não Preenchido</h3>
        </mat-card-content>
    </mat-card>
</div>

<!-- Comentários:: -->

<div *ngIf="colunas.length > 0" class="open-button">
    <div class="comment-content">
        <div class="comment-title">
            Comentários do Formulário
        </div>
        <div (click)="openForm()">
            <i class="fas fa-plus-square fa-sm comment-icon"></i>
        </div>
    </div>
</div>

<mat-card *ngIf="colunas.length > 0" id="chatComment" class="mat-elevation-z5 chat-popup">

    <div class="open-button-chat">
        <div class="comment-content">
            <div class="comment-title">
                Comentários do Formulário
            </div>
            <div (click)="closeForm()">
                <i class="fas fa-minus-square fa-sm comment-icon"></i>
            </div>
        </div>
    </div>

    <mat-card-content class="form-container">

        <div>
            <!--mat-form-field style="width: 100%;">
                <mat-label>Campos do Formulário</mat-label>
                <mat-select [(ngModel)]="idColuna" (selectionChange)="printComentarios()">
                    <mat-option
                        *ngFor="let coluna of colunas"
                        [value]="coluna.idColuna"
                        class="option-campos">
                        {{coluna.nmColuna}}
                    </mat-option>
                </mat-select>
            </mat-form-field-->

            <div class="commen-inputs" style="min-height:180px;">
                <div class="content-campos">
                    <div
                        *ngFor="let coluna of colunas"
                        (click)="teste($event); printComentarios(coluna.idColuna);"
                        class="comment-card
                                comment-item-{{coluna.comentarios}}
                                {{coluna.selecionada == true ? 'comment-item-selected' : ''}}"
                        matBadge="{{coluna.pendentes}}" 
                        matBadgePosition="after"
                        matBadgeColor="accent"
                        matBadgeSize="medium"
                        [matBadgeHidden]="!coluna.comentarios && !coluna.selecionada">
                        {{coluna.nmColuna}}
                    </div>
                </div>
            </div>

            <div class="comment-fields">

                <div class="content-comment">
                    <div
                        *ngFor="let comentario of comentarios"
                        class="comment-card comment-item-{{comentario.side}}">
                        <div class="comment-head">
                            <span class="comment-user-{{comentario.side}}">
                                {{comentario.nmUsuario}}
                            </span>
                            <span class="comment-date-{{comentario.side}}">
                                <i class="fas fa-clock comment-icon-clock"></i>
                                {{printDataCriacao(comentario)}}
                            </span>
                        </div>
                        {{comentario.descricao}}
                    </div>
                    <div class="content-msg content-msg-{{coluna.comentarios == true ? 'none' : 'table'}}">
                        <div
                            *ngIf="comentarios.length == 0"
                            class="content-msg-item">
                            Não há comentários!
                        </div>
                    </div>
                </div>

                <div class="comment-input">
                    <input
                        [(ngModel)]="comentario.descricao"
                        placeholder="..." />

                    <button
                        mat-button
                        class="button-salvar"
                        (click)="salvarComentario()">
                        Ok
                    </button>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>