.filter-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.filtro-panel-content {
    max-height: 300px;
    overflow-y: auto;
    padding: 0 15px 15px;
}

.filtro-fields-one {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.filtro-fields-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.importer-content {
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;
}

.importer-title {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #596679;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.importer-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.importer-item {
    font-size: 12px;
    font-weight: 400;
    color: #596679;
}

.baixar-itegrados {
    float: right;
}

.file-csv {
    font-size: 16px;
    margin-right: 5px;
}

.button-return {
    margin: 0 8px;
    float: right;
    background: #54c08a !important;
    color: #fff;
}
