<div *ngIf="loading" fxAlign="center" class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Carregando os dados para exibição...</p>
</div>

<div *ngIf="!loading" class="classificacao-container">
    <h3>Classificação</h3>

    <mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container">

            <div class="table-head clearfix">
                <span class="table-title">
                    Respostas da Classificação
                </span>
            </div>

            <table
                mat-table
                *ngIf="respostasDataSource.data.length > 0"
                [dataSource]="respostasDataSource"
                class="mat-elevation-z8 classificacao-table">                        

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        Código Resposta
                    </th>
                    <td mat-cell (click)="editRowResposta(row)" *matCellDef="let row">
                        {{row.id}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="dataHora">
                    <th mat-header-cell *matHeaderCellDef>
                        Data/Hora da Resposta
                    </th>
                    <td mat-cell (click)="editRowResposta(row)" *matCellDef="let row">
                        {{row.dataHora}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="respostasColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: respostasColumns;"></tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>

<!--div class="selected-itens">
    <a mat-button color="warn"
        (click)="click()"
        style="text-decoration:none;"
        target="_blank">
        <fa-icon icon="file-csv" size="fa-sm" class="file-csv"></fa-icon>
        Teste
    </a>
</div-->