<div class="table-list">
    <table
        mat-table
        class="full-width-table"
        [dataSource]="dataSource"
        matSort
        aria-label="Elements">

        <!-- Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="display: none">
                <!--mat-checkbox
                    class="select-check"
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox-->
            </th>
            <td mat-cell *matCellDef="let row" style="border-bottom-style:none">
                <mat-checkbox
                    class="select-check"
                    (click)="$event.stopPropagation();"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="tela">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none">Tela</th>
            <td mat-cell *matCellDef="let row" class="td-modelos">
                <strong>Tela: </strong>
                {{ row.tela }}
            </td>
        </ng-container>

        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none">Titulo</th>
            <td mat-cell *matCellDef="let row" class="td-modelos">
                <strong>Titulo: </strong>
                {{ row.titulo }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none">Status</th>
            <td mat-cell *matCellDef="let row" class="td-modelos">
                <strong>Status: </strong>
                {{ row.status }}
            </td>
        </ng-container>

        <ng-container matColumnDef="dataAtualizacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none">Data de Atualização</th>
            <td mat-cell *matCellDef="let row" class="td-modelos">
                <strong>Data de Atualização: </strong>
                {{row.dataAtualizacao.toLocaleDateString()}}
                {{row.dataAtualizacao.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
            *matRowDef="let row; columns: displayedColumns" 
            class="row-modelos" 
            style="width: 30%;height: auto;float: left;margin-bottom: 10px;">
        </tr>
    </table>

    <div class="container-footer">
        <div class="selected-itens">
            {{ getQtdNotificacoesSelecionados() }}
            <button
                mat-button
                color="warn"
                style="padding:0 10px;"
                (click)="deselectAll()">
                {{
                    selection.selected.length > 1
                        ? 'Desmarcar todos'
                        : selection.selected.length > 0 ? 'Desmarcar' : ''
                }}
            </button>
            {{
                selection.hasValue() && selection.selected.length > 0
                    ? '/'
                    : ''
            }}
            <button
                mat-button
                *ngIf="selection.hasValue() && selection.selected.length > 0"
                color="warn"
                style="padding:0 10px;"
                (click)="removerTodos()">
                {{
                    selection.selected.length > 1 && selection.selected.length > 0
                        ? 'Remover todos'
                        : 'Remover'
                }}
            </button>
        </div>

        <mat-paginator
            #paginator
            [length]="dataSource.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500, 1000]">
        </mat-paginator>
    </div>
</div>