<div class="table-list">
    <table
        mat-table
        class="full-width-table"
        [dataSource]="dataSource"
        matSort
        aria-label="Elements">

        <!-- Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <!--mat-checkbox
                    class="select-check"
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox-->
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    class="select-check"
                    (click)="$event.stopPropagation(); clearCheckbox(row);"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Razão Social / Nome
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="cpf_cnpj">
            <th mat-header-cell *matHeaderCellDef>CPF / CNPJ</th>
            <td mat-cell *matCellDef="let row">{{ row.cpf_cnpj }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500, 1000]">
    </mat-paginator>

    <div *ngIf="selection.selected.length > 0" class="selected-itens">
        {{ selection.selected.length }}
        {{
        selection.selected.length > 1
            ? 'importadores selecionados'
            : 'importador selecionado'
        }}
        <button mat-button color="warn" (click)="deselectAll()">
            Desmarcar Todos
        </button>
    </div>
</div>  