
<div style="padding: 15px;">
    <button
        mat-raised-button
        matTooltip="Adicionar Evento"
        class="add-calendar"
        (click)="makeApiCall();">
        <i class="fas fa-plus fa-sm"></i>
        Crear Eventos
    </button>
</div>
  

<div id="divifm" style="padding: 15px;">
    <iframe 
        id="idCalendar"

        src="https://www.google.com/calendar/embed?
        height=550&amp;wkst=1&amp;bgcolor=%23FFFFFF&
        amp;src=google-forms@my-project-1498746435911.iam.gserviceaccount.com;color=%238C500B&amp;ctz=America%2FNew_York"

        style="border-width: 0" 
        width="950" 
        height="520" 
        frameborder="0" 
        scrolling="no">
    </iframe>
</div>