<div *ngIf="loading" fxAlign="center" class="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <p>Carregando os dados para filtro...</p>
</div>

<div *ngIf="!loading" class="filter-container">
<h3>Filtro</h3>

    <mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container">
            <h5 class="title-app">Importador / Exportador</h5>
            <div class="importer-fields">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Razão Social"
                        [(ngModel)]="current_filtro.importer.name"
                        (ngModelChange)="updateFiltro()" />
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="CPF / CNPJ"
                        [(ngModel)]="current_filtro.importer.cpf_cnpj"
                        (ngModelChange)="updateFiltro()" />
                </mat-form-field>
            </div>
            <app-importers-list
                *ngIf="data !== null" 
                [data]="data.importers">
            </app-importers-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z5">
        <mat-card-content>
            <button 
                mat-raised-button
                class="filter-button"
                (click)="generateReport()">
                Filtrar
            </button>
        </mat-card-content>
    </mat-card>

</div>