<div *ngIf="loading" fxAlign="center" class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Carregando os dados para exibição...</p>
</div>

<div *ngIf="!loading && !finish" class="produtos-container">
    <h3>Editar Modelos</h3>

    <div *ngIf="mensagem !== null" class="{{mensagem.class}}">
        <div *ngFor="let msg of mensagem.lista" class="mat-card-content-div">
            <span class="alert-text">{{msg.valor}}</span>
        </div>
    </div>
    
    <!--mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container">
            <mat-card-title>
                CNPJ Raiz: 
                {{
                    produto.cnpjRaiz | mask: '00.000.000/0000-00'
                }}
                {{
                    produto.codigosInterno.length > 0 ? 
                    '/ Código Interno: ' + produto.codigosInterno[0] :
                    ''
                }}
            </mat-card-title>
            <mat-card-subtitle style="font-size: 1.2em;font-weight: 500;">
                Status do Produto: 
                <mat-chip style="background-color:#D4E6F1;">
                    {{produto.status}}
                </mat-chip>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card-->

    <mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container">

            <div class="produto-fields-textarea">
                <mat-form-field>
                    <textarea
                        matInput
                        placeholder="Título do Formulario"
                        [(ngModel)]="formulario.titulo"
                        class="produto-descricao">
                    </textarea>
                </mat-form-field>
            </div>

            <div class="produto-fields">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Número da Planilha"
                        [(ngModel)]="formulario.spreadsheetId"
                        (change)="carregarAtributosChange()"/>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        placeholder="Número da Folha"
                        [(ngModel)]="formulario.idSheet"/>
                </mat-form-field>

                <mat-checkbox
                    [checked]="formulario.status == 'Inativo'"
                    (change)="setStatusFormulario($event)">
                    Inativar Formulário
                </mat-checkbox>
            </div>

            <div class="codigointerno-panel-content">
                <div class="produto-codigointerno-fields">
                    Categorias:
                    <a (click)="openDialogCategorias()" class="codigointerno-button-add">
                        <i class="fas fa-plus-square"></i>
                        Adicionar
                    </a>
                </div>

                <table
                    *ngIf="categoriasDataSource.data.length > 0"
                    mat-table 
                    [dataSource]="categoriasDataSource" 
                    class="mat-elevation-z8 codigointerno-table">  

                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">{{row}}</td>
                    </ng-container>

                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">{{row}}</td>
                    </ng-container>

                    <ng-container matColumnDef="operacao">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button (click)="removeRowCategoria(row)" title="Remover">
                                <i class="fas fa-minus-square lg"></i>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="categoriasColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: categoriasColumns;"></tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z5">
        
        <mat-card-actions align="end" style="padding:0;margin:0;">

            <img *ngIf="spinner" src="assets/spinner.gif" style="height:30px;padding-right:10px;">

            <button
                mat-raised-button
                (click)="voltarEtapa()"
                class="button-return"
                style="margin: 0 8px;">
                <!--i class="fas fa-angle-double-left fa-sm"></i-->
                Voltar
            </button>
            <button
                mat-raised-button
                (click)="finalizarPreenchimento()"
                class="step-button-finish">
                <i class="fas fa-check fa-sm"></i>
                Finalizar
            </button>
        </mat-card-actions>
    </mat-card>

</div>

<!--div *ngIf="!loading && finish" class="produtos-container" style="margin-top:20px;">

    <div *ngIf="mensagem !== null" class="{{mensagem.class}}">
        <div *ngFor="let msg of mensagem.lista" class="mat-card-content-div">
            <span class="alert-text">{{msg.valor}}</span>
        </div>
    </div>
</div-->