<div *ngIf="loading" fxAlign="center" class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Carregando os dados para exibição...</p>
</div>

<div *ngIf="!loading" class="comentarios-container">
    <h3>Classificação: {{ resposta.id }}</h3>
    
    <mat-card class="mat-elevation-z5 filtro-card">
        <mat-card-content class="form-container">

            <div class="table-head clearfix">
                <span class="table-title">
                    Dados da Resposta
                </span>
            </div>

            <div class="comentarios-fields">

                <ul *ngFor="let campo of resposta.campos">
                    <li class="tree-head">
                        <span style="font-weight: 500px">
                            {{ campo.nomeColuna }}: {{ campo.valorCampo }}
                        </span>
                        <button
                            mat-button
                            matTooltip="Inserir comentário"
                            class="button-add"
                            style="color: #596679;"
                            (click)="adicionarComentario(campo)">
                            <!--fa-icon icon="comment-plus" size="lg"></fa-icon-->
                            Comentário
                        </button>
                    </li>
                </ul>

            </div>

        </mat-card-content>
    </mat-card>
</div>