ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tree-head {
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: 500;
}
.tree-body {
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight: 400;
}
.icon-toggle{
    font-size: 1.3em;
    color:darkgrey;
    //padding-right: 5px;
}
.modal-title{
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: #596679;
}
.modal-body{
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;

    font-size: 12px;
    color: #596679;
}
.title-body{
    font-size: 1.25rem;
    margin-bottom: .8rem;
    font-weight: 400;
    line-height: 1.2;
}
.container-body{
    margin: 10px;

    min-height: 250px;
    max-height: 400px;
    overflow-y: auto;
}

.canal-verde{
    color: #6BD19E;
}
.canal-amarelo{
    color: #F9E79F;
}
.canal-vermelho{
    color: #F5B7B1;
}
.canal-cinza{
    color: #CCD1D1;
}

.container-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
    margin-top: 15px;
}

.container-item {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
