<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)" >

        <mat-toolbar color="primary" class="logo"></mat-toolbar>

        <div class="tree-content">
            <div class="tree-scrollable">
                <ul *ngFor="let menu of listaMenus" class="ul-tree">
                    <li *ngIf="menu.enable" (click)="toggleMenu(menu)" class="li-one">
                        <div class="li-one-head">
                            <div *ngIf="!menu.toggle">
                                <i class="fas fa-angle-right icon-toggle"></i>
                                <span style="font-weight: 500px">
                                    {{ menu.name }}
                                </span>
                            </div>
                            <div *ngIf="menu.toggle">
                                <i class="fas fa-angle-down icon-toggle"></i>
                                <span style="font-weight: 500px">
                                    {{ menu.name }}
                                </span>
                            </div>
                        </div>                        
                    </li>

                    <li *ngIf="menu.toggle" class="li-two">
                        <ul *ngFor="let submenu of menu.submenus" class="ul-two-sub">
                            <li 
                                *ngIf="menu.enable && submenu.enable" 
                                (click)="toggleMenu(submenu)" 
                                class="li-two-active">

                                <div *ngIf="submenu.submenus.length == 0" class="item-two">
                                    <a mat-list-item
                                        routerLink={{submenu.routerLink}}
                                        routerLinkActive={{submenu.routerLinkActive}}>
                                        {{ submenu.name }}
                                    </a>
                                </div>

                                <div *ngIf="submenu.submenus.length > 0" class="item-two">
                                    <div *ngIf="!submenu.toggle">
                                        <i class="fas fa-angle-right icon-toggle"></i>
                                        <span style="font-weight: 500px">
                                            {{ submenu.name }}
                                        </span>
                                    </div>
                                    <div *ngIf="submenu.toggle">
                                        <i class="fas fa-angle-down icon-toggle"></i>
                                        <span style="font-weight: 500px">
                                            {{ submenu.name }}
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <li *ngIf="submenu.toggle && submenu.submenus.length > 0" class="li-two">
                                <ul *ngFor="let submenutree of submenu.submenus" class="ul-two-sub">
                                    <li *ngIf="submenu.enable && submenutree.enable && getRegraMenu(submenutree)" class="li-two-active">

                                        <a mat-list-item 
                                            class="item-two"
                                            routerLink={{submenutree.routerLink}}
                                            routerLinkActive={{submenutree.routerLinkActive}}>
                                            {{ submenutree.name }}
                                        </a>
                                        
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <!--mat-nav-list>
            <a
                mat-list-item
                routerLink="/home"
                routerLinkActive="active"
                (click)="checkClose() && drawer.close()">
                <mat-icon>description_outline</mat-icon>Unificar Produtos
            </a>
        </mat-nav-list-->
        <!--mat-nav-list>
            <a
                mat-list-item
                routerLink="/home"
                routerLinkActive="active"
                (click)="checkClose() && drawer.close()">
                <mat-icon>description_outline</mat-icon>Listagem de Produtos
            </a>
        </mat-nav-list-->
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="content" color="primary" > <!--*ngIf="(isHandset$ | async)"-->

            <div class="navbar-item">
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    class="mat-icon-button"
                    (click)="drawer.toggle()">
                    <!--*ngIf="(isHandset$ | async)" > -->
                    <mat-icon aria-label="Side nav toggle icon">
                        menu
                    </mat-icon>
                </button>
                <span></span>
            </div>

            <div class="navbar-item">
                <nav id="navbar-menu">
                    <ul class="toggle-normal">
                        <li class="toggle-adicionar">
                            <button 
                                mat-button 
                                [matMenuTriggerFor]="menuAdd" 
                                matTooltip="Adicionar">

                                <div class="navbar-add">
                                    <div class="navbar-adicionar">
                                        <i class="fas fa-paste"></i>
                                        Adicionar
                                    </div>
                                    <div class="navbar-dropdown">
                                        <i class="fas fa-sort-down navbar-sort-down"></i>
                                    </div>
                                </div>
                            </button>
                            <mat-menu #menuAdd="matMenu">
                                <button mat-menu-item>Agendar Tarefa</button>
                                <button mat-menu-item>Adicionar Produto</button>
                                <button mat-menu-item>Importar Produtos</button>                                
                            </mat-menu>
                        </li>
                        <li>
                            <button 
                                mat-button matTooltip="Notificações" 
                                (click)="getNotificaoResult()">
                                <div 
                                    class="navbar-icon"
                                    style="padding: 12px;"
                                    matBadge="{{qtdNotificacoes}}"
                                    matBadgePosition="after"
                                    matBadgeColor="accent"
                                    matBadgeSize="medium">

                                    <i class="fas fa-bell"></i>
                                </div>
                            </button>
                        </li>
                        <!--li>
                            <button mat-button matTooltip="Suporte" (click)="getSuporteResult()">
                                <div class="navbar-icon">
                                    <i class="fas fa-bullhorn"></i>
                                </div>
                            </button>
                        </li-->
                        <li>
                            <button
                                mat-button
                                [matMenuTriggerFor]="menuConfig"
                                matTooltip="Configurações">

                                <div class="navbar-icon">
                                    <i class="fas fa-cog"></i>
                                </div>
                            </button>
                            <mat-menu #menuConfig="matMenu">
                                <button mat-menu-item (click)="openDialogFilter()">
                                    Alterar Importador/Exportador
                                </button>
                                <button *ngIf="getRegraTopBarEmpresa()" mat-menu-item (click)="openDialogEmpresa()">
                                    Alterar Dados da Empresa
                                </button>
                            </mat-menu>
                        </li>
                        <li>
                            <button
                                mat-button 
                                [matMenuTriggerFor]="menuUser" 
                                matTooltip="Opções de Usuário">

                                <div class="navbar-add">
                                    <div class="navbar-username">
                                        {{ userInfo.name }} <br/>
                                        <span class="navbar-username-span">
                                            {{ userInfo.email }}
                                        </span><br/>
                                        <span class="navbar-username-span" style="font-size: 11px;">
                                            {{ filter.importadores[0].name }}
                                        </span>
                                    </div>
                                    <div class="navbar-dropdown">
                                        <i class="fas fa-sort-down navbar-sort-down"></i>
                                    </div>
                                </div>
                            </button>
                            <mat-menu #menuUser="matMenu">
                                <button mat-menu-item>Gerenciar Perfil</button>
                                <button mat-menu-item (click)="userLogout()">Sair</button>
                            </mat-menu>
                        </li>
                    </ul>

                    <ul class="toggle-response">
                        <li style="border:none;">
                            <button
                                mat-button 
                                [matMenuTriggerFor]="menuUserResponse" 
                                matTooltip="Opções de Usuário">

                                <div class="navbar-add">
                                    <div class="navbar-username">
                                        {{ userInfo.name }} <br/>
                                        <span class="navbar-username-span">
                                            {{ userInfo.email }}
                                        </span>
                                    </div>
                                    <div class="navbar-dropdown">
                                        <i class="fas fa-sort-down navbar-sort-down"></i>
                                    </div>
                                </div>
                            </button>
                            <mat-menu #menuUserResponse="matMenu">
                                <button mat-menu-item>Gerenciar Perfil</button>
                                <button mat-menu-item (click)="userLogout()">Sair</button>
                            </mat-menu>
                        </li>
                    </ul>
                </nav>
            </div>

        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>