.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
    border-right: 1px rgba(0, 0, 0, 0.2);
    background: inherit;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: unset;
    flex-shrink: 0;
    line-height: unset;
    border-radius: 50%;
    color:#757575;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar.content {
    height: 92px;
    border: none;
    min-height: 80px;
    margin-bottom: 1px;
    background: #fff;

    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.3);
}

.content {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 10px;
}

.navbar-item {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.mat-toolbar.logo {
    height: 92px;
    border: none;
    min-height: 80px;
    margin-bottom: 1px;

    background-image: url(http://relatorios.eficilog.com/img/logo_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}

/*.mat-list-item.active {
    //background: rgba(0, 0, 0, 0.2);
}*/

/* Lista Menus */

.tree-content {
    position: relative;
    overflow: hidden !important;
}

.tree-scrollable {
    height: 464px;
    width: 317px;
    overflow-y: scroll !important;
}

.ul-tree {
    transform: translate3d(0px, 0px, 0px);
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: hidden;
    font-size: 12px;
}

.icon-toggle {
    color:darkgrey;
    padding-right: 5px;

    font-size: 25px;
    height: unset;
}

.li-one {
    cursor: pointer;
    border-top: 1px solid #F2F4F4;
    border-bottom: 1px solid #E5E8E8;
    line-height: 66px;
}

.li-one:hover {
    background: #EAECEE;
}

.li-one-head {
    font-size: 14px;
    font-weight: 600;
    padding: 0 30px;
    line-height: 66px;
    height: 70px;
    color: #596679; //#97a8b6;
}

.li-two {
    display: block;
    padding: 3px 0;
    margin: 0;
    font-size: 12px;
    //border-left: 4px solid #EAECEE;
    list-style: none;
}

.ul-two-sub {
    margin-top: 7px !important;
    margin-left: 50px !important;
    color: #576473 !important;
    font-size: 13px;

    margin: 0;
    padding: 0;
    list-style-type: none;
}

.li-two-active {
    display: table;
    height: 33px;
    overflow: hidden;
    width: 100%;
}

.li-two-active:hover {
    background: #EAECEE;
}

.item-two {
    vertical-align: middle;
    display: table-cell;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    font-size: 1em;
    font-weight: 500;
    padding: 0 30px;
    color: #596679;
}

.item-two a {
    text-decoration: none;
    color: #596679;
}

/** Options Navbar **/

#navbar-menu {
    height: 92px;
}

#navbar-menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    float: right;
}

#navbar-menu ul li {
    height: 92px;
    display: inline-block;
    color: #a1b1be;
    border-left: 1px solid #e5e7ec;
}

#navbar-menu ul li button {
    line-height: 0px;
    height: 92px;
    padding: 0 32px;
    overflow: hidden;
}

.navbar-add {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    line-height: 17px;
    text-align: left;
}

.navbar-icon {
    float: none;
    font-size: 16px;
    margin-left: 0;
}

.navbar-dropdown {
    float: right;
    font-size: 24px;
    margin-left: 25px;
}

.navbar-sort-down {
    position: relative;
    margin-right: 5px;
    top: -10px;
}

.navbar-adicionar {
    float: left;
}

.navbar-username {
    color: #4a5864;
    float: left;
}

.navbar-username-span {
    color: #b0bec9;
    font-size: 13px;
    font-style: italic;
}

// Navbar Response

.toggle-response {
    display: flex;
}

.toggle-normal {
    display: none;
}

@media (min-width: 768px){
    .toggle-response {
        display: none;
        border: none;
    }
    .toggle-normal {
        display: flex;
    }
}

@media (max-width: 1082px){
    #navbar-menu ul li.toggle-adicionar {
        display: none;
        border: none;
    }
}

.downloadspall{
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    color: #97a8b6;
    background: 0 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 400;
}